<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Param Decription">
    <meta name="author" content="">

    <title>Param Titre</title>

    <!-- Bootstrap core CSS -->
    <link href="../style/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="../style/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="../style/css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="../style/css/custom.css" rel="stylesheet">
	<link href="../style/css/owl.carousel.css" rel="stylesheet">
    <link href="../style/css/owl.theme.css" rel="stylesheet">
	<link href="../style/css/style.css" rel="stylesheet">
	<link href="../style/css/animate.css" rel="stylesheet">
	
	<!-- Popup core CSS file -->
	<link rel="stylesheet" href="../style/css/magnific-popup.css"> 
	
	<script src="../js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->

</head>


<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">ParamSite</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
				
					<!-- Remplacer les params par les bons contenus dans la BDD -->
					<li class="menuItem"><a href="#paramlink1">Créer ma page</a></li>
					<li class="menuItem"><a href="#paramlink2">Editer ma page</a></li>
					<li class="menuItem"><a href="#paramlink3">Editer mes informations</a></li>
					<li class="menuItem"><a href="#paramlink4">Supprimer ma page</a></li>
				</ul>
			</div>
		   
		</div>
	</nav>   
<body>
<style>
fieldset{
    margin: 0px;
    border: 0px none;
    min-width: 0px;
    padding-right: 50px !important; 
    padding-left: 50px !important;
}
</style>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Création de votre page</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="titrePage">Titre de votre page</label>  
  <div class="col-md-4">
  <input id="titrePage" name="titrePage" placeholder="" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="logoPage">Logo</label>
  <div class="col-md-4">
    <input id="logoPage" name="logoPage" class="input-file" type="file">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="titrecat1">Titre catégorie 1</label>  
  <div class="col-md-4">
  <input id="titrecat1" name="titrecat1" placeholder="" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="descat1">Description catégorie 1</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="descat1" name="descat1"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="titrecat2">Titre catégorie 2</label>  
  <div class="col-md-4">
  <input id="titrecat2" name="titrecat2" placeholder="" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="descat2">Description catégorie 2</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="descat2" name="descat2"></textarea>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="blog">Blog ?</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="blog-0">
      <input name="blog" id="blog-0" value="Oui" checked="checked" type="radio">
      Oui
    </label> 
    <label class="radio-inline" for="blog-1">
      <input name="blog" id="blog-1" value="Non" type="radio">
      Non
    </label>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="choixTemp">Choix du template</label>
  <div class="col-md-4">
    <select id="choixTemp" name="choixTemp" class="form-control">
      <option value="1">Template 1</option>
      <option value="2">Template 2</option>
      <option value="3">Template 3</option>
    </select>
  </div>
</div>

</fieldset>
</form>



    <footer>
      
    </footer>

    <!-- JavaScript -->
    <script src="../js/jquery-1.10.2.js"></script>
    <script src="../js/bootstrap.js"></script>
	<script src="../js/owl.carousel.js"></script>
	<script src="../js/script.js"></script>
	<!-- StikyMenu -->
	<script src="../js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="../js/jquery.corner.js"></script> 
	<script src="../js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="../js/classie.js"></script>
	<script src="../js/uiMorphingButton_inflow.js"></script>
	<!-- Popup core JS file -->
	<script src="../js/jquery.magnific-popup.js"></script> 
</body>

</html>
