<IfModule mod_rewrite.c>
    # Custom error pages
    ErrorDocument 404 /errors/404.php
    ErrorDocument 403 /errors/403.php

    # Turn on rewrite
    RewriteEngine On

    # Don't rewrite direct calls to resource files    
    RewriteCond %{REQUEST_URI} !^.*\.+$ 
    RewriteCond %{REQUEST_FILENAME} !\.(gif|jpe?g|png|js|css|swf|ico|txt|pdf|xml|php)$

    # Don't rewrite direct calls to specific folders
    RewriteCond %{REQUEST_URI} !^/backoffice
    RewriteCond %{REQUEST_URI} !^/errors
    RewriteCond %{REQUEST_URI} !^/static
    RewriteCond %{REQUEST_URI} !^/sandbox
		
    # Send everything else to index.php
    RewriteRule (.*) index.php [L]

</IfModule>

